# Network Configuration
REALM="heim.lan"
DOMAIN="HEIM"
NETWORK="10.10.20.0/24"
GATEWAY_IP="10.10.20.1"

# Primary DC Configuration
PRIMARY_DC_HOSTNAME="adc01"
PRIMARY_DC_IP="10.10.20.220"
PRIMARY_DC_INTERFACE="enp1s0"

# Secondary DC Configuration  
SECONDARY_DC_HOSTNAME="adc02"
SECONDARY_DC_IP="10.10.20.221"
SECONDARY_DC_INTERFACE="enp1s0"

# Domain Admin Password (change this!)
ADMIN_PASSWORD="P@ssw0rd123"

# DNS Configuration
PTR_ADDRESS="20.10.10.in-addr.arpa"
