REALM="heim.lan"
DOMAIN="HEIM"

# Primary DC Configuration
PRIMARY_DC_HOSTNAME="adc01"
PRIMARY_DC_IP="10.10.20.220"
PRIMARY_DC_INTERFACE="enp1s0"
PRIMARY_DC_NETWORK="10.10.20.0/24"
PRIMARY_DC_GATEWAY_IP="10.10.20.1"
PRIMARY_DC_PTR_ADDRESS="20.10.10.in-addr.arpa"

# Secondary DC Configuration  
SECONDARY_DC_HOSTNAME="adc02"
SECONDARY_DC_IP="10.10.20.221"
SECONDARY_DC_INTERFACE="enp1s0"
SECONDARY_DC_NETWORK="10.10.20.0/24"
SECONDARY_DC_GATEWAY_IP="10.10.20.1"
SECONDARY_DC_PTR_ADDRESS="20.10.10.in-addr.arpa"

# Domain Admin Password (change this!)
ADMIN_PASSWORD="P@ssw0rd123"
